# ------------------------------
# Project: Ketamine Proteomics
# Git Ignore File
# ------------------------------

# Raw or sensitive data
data/
data/*

# Processed outputs
results/
results/*
*.tsv
*.csv
*.rds
*.RData

# Logs
logs/
*.log

# RStudio generic files
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rproj.user/*

# Python/Conda environments
.env/
venv/
*.conda
environment*.yaml
env*.yaml

# Documentation (local only)
project_notes/
literature/
thesis/

# macOS system files
.DS_Store
._*

# Editor backup files
*~
*.swp
*.swo
